<div class="number-content">
    <div class="number-top">

    </div>
    <div class="number-center">
        <div class="ball-area">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
        </div>
        <div class="button-area">
            <button routerLink="/numberComponent" mat-flat-button>테스트1</button>
            <button class="button-left" (click)="remakeNumber()" mat-flat-button>번호 재생성</button>
        </div>
    </div>
    <div class="number-bottom">

    </div>
</div>