<div class="history-content">
    <mat-card appearance="outlined" *ngFor="let number of numberHistory">
        <mat-card-header>
            <mat-card-title>{{ number.number1 }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="ball-area">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
        </mat-card-content>
    </mat-card>
</div>