<h2 mat-dialog-title>가입</h2>
<mat-dialog-content>
    <p>계정 및 이메일 입력 필수</p>
    <form [formGroup]="registerForm">
        <mat-form-field>
            <mat-label>계정</mat-label>
            <input matInput formControlName="id" />
        </mat-form-field>
        <br />
        <mat-form-field>
            <mat-label>이메일</mat-label>
            <input matInput formControlName="email" />
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="saveUserInfo()" cdkFocusInitial>입력</button>
</mat-dialog-actions>